<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happypetsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyPetsApp">
        <activity
            android:name=".MainActivityNuevaMascota"
            android:exported="true" />
        <activity
            android:name=".MainActivityRegistro"
            android:exported="true" />
        <activity
            android:name=".MainActivityPerfilCliente"
            android:exported="true" />
        <activity
            android:name=".MainActivityDetalleServicios"
            android:exported="true" />
        <activity
            android:name=".MainActivityServiciosClientes"
            android:exported="true" />
        <activity
            android:name=".MainActivityCitasClientes"
            android:exported="true" />
        <activity
            android:name=".MainActivityMascotas"
            android:exported="true" />
        <activity
            android:name=".MainActivityPrincipalClientes"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>